#sectionFour {
    background-color: lightgray;
}

#sectionSix {
    background-color: tan;
}

#sectionSixExample {
    text-align: center;
    background-color: wheat;
    font-weight: 100;
    text-decoration: underline teal;
    line-height: 5;
    font-size: 25px;
    font-family: Monaco, 'Courier New', monospace;
    letter-spacing: 1.25em;
}

#sectionSixExample2 {
    color: rgb(121, 12, 210);
    letter-spacing: 3px;
    line-height: 2;
    font-size: 2em;
    text-align: right;
}

#sectionEight {
    background-color: rgb(138, 154, 91);
}

.bold {
    font-weight: 700;
}

#emSection {
    font-size: 25px;
}

#inlineExample {
    padding: 50px;
    background-color: rosybrown;
    margin: 50px;
    width: 500px;
    height: 500px;
    color: white;
}

#emExample {
    font-size: 50px;
    background-color: sandybrown;
    margin-left: 1em;
    margin-right: 1em;
}

#emExample2 {
    font-size: 2em;
    background-color: seashell;
    margin-left: 3em;
    margin-right: 3em;
}

#emExample3 {
    font-size: 25px;
    background-color: aqua;
    margin-left: 3em;
    margin-right: 3em;
}

#transitionExample1 {
    width: 270px;
    background-color: aqua;
    transition: background-color 2s;
}

#transitionExample1:hover {
    background-color: orange;
}

#transitionExample2 {
    width: 270px;
    background-color: forestgreen;
    transition: background-color 3s, margin-left 3s ease-in-out 0.5s;
    /* property | duration, property | duration | timing-function | delay 
    The first number is the duration and the second number is the delay*/
}

#transitionExample2:hover {
    background-color: wheat;
}

#transitionSection:hover #transitionExample2 {
    margin-left: 500px;
}

#transitionExample3 {
    width: 270px;
    background-color: forestgreen;
    transition: background-color 3s, margin-left 3s ease-in-out 0.5s;
}

#transitionExample3:hover {
    background-color: wheat;
    margin-left: 500px;
}

#sectionTen {
    background-color: rgba(110, 100, 155, 1);
}

#sectionTenContainer {
    width: 350px;
    height: 150px;
    background-color: white;
    display: flex;
}

#sectionTenContainer div {
    width: 50px;
    height: 50px;
}

#sectionTenContainer2 {
    width: 350px;
    Height: 150px;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
}

#sectionTenContainer2 div {
    width: 50px;
    height: 50px;
}

#sectionTenContainer3 {
    width: 150px;
    Height: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#sectionTenContainer3 div {
    width: 50px;
    height: 50px;
}

#sectionTenContainer4 {
    width: 150px;
    Height: 350px;
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
}

#sectionTenContainer4 div {
    width: 50px;
    height: 50px;
}

#sectionTenContainer5 {
    width: 150px;
    Height: 150px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#sectionTenContainer5 div {
    width: 50px;
    height: 50px;
}

#sectionTenContainer6 {
    width: 150px;
    Height: 150px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

#sectionTenContainer6 div {
    width: 50px;
    height: 50px;
}

#sectionTwelveContainer1 {
    background-color: red;
}

#sectionTwelveContainer2 {
    background-color: salmon;
}

#sectionTwelveContainer3 {
    background-color: coral;
}

#sectionTwelveContainer4 {
    background-color: pink;
}

#sectionFourteen {
    background-color: lightsteelblue;
}

#sectionSixteen {
    background-color: honeydew;
}

#sectionEighteen {
    background-color: rgb(108, 158, 238);
}

#sectionEighteenPicture {
    width: 500px;
    height: 400px;
}

#sectionEighteenPic2 {
    width: 400px;
    height: 400px;
}

#sectionEighteenPic3 {
    width: 500px;
    height: 400px;
}

.blue {
    color: blue;
}

#sectionTwenty {
    background-color: rgb(156,175,136);
}

#sectionTwentyAside {
    color: indianred;
}